@font-face {
    font-family: "CircularStd Bold";
    src: url("../fonts/Circular/CircularStd-Bold.otf");
}

@font-face {
    font-family: "CircularStd Light";
    src: url("../fonts/Circular/CircularStd-Light.otf");
}

body{
    font-family: "CircularStd Light";
    background-color: #e37400;
    margin: 0px;
}

#banner{
    background-image: url('../images/bg-1.jpg');
    background-repeat: no-repeat;
}

